@font-face {
    font-family: "ChillKai";
    src: url("./assets/ChillKai.ttf") format("truetype");
}

:root {
    --font-family: "ChillKai";
    --max-width: 18rem;
}

body {
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
